---
const { currentPage, totalPages } = Astro.props;
interface Props {
  currentPage: number;
  totalPages: number;
}
---

<section
  class={currentPage > 1 ? "flex justify-between mt-8" : "text-right mt-8"}
>
  {
    currentPage > 1 && (
      <a
        href={`/articles?page=${currentPage - 1}`}
        class="inline-block bg-gray-300 px-3 py-1 rounded-lg justify-start hover:text-white hover:bg-green-700"
      >
        Previous Page
      </a>
    )
  }
  {
    currentPage < totalPages && (
      <a
        href={`/articles?page=${currentPage + 1}`}
        class="inline-block bg-gray-300 px-3 py-1 rounded-lg self-end hover:text-white hover:bg-green-700"
      >
        Next Page
      </a>
    )
  }
</section>
